# Папки с результатами компиляции (бинарники)
[Bb]in/
[Oo]bj/

# Скрытые папки сред разработки (Visual Studio)
.vs/
.idea/

# Файлы персональных настроек пользователя
*.user
*.suo

# Логи выполнения программы
*.log
